/* TODO: Use media query to change the width of the cards so they split into two columns at 992px or smaller*/

/* TODO: Use media query to change the width of the cards so they are stacked on top of each other at 768px or smaller */

* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	margin: 0;
}

main {
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 992px) {
	main {
		flex-direction: row;
	}
	.card {
		width: 25%;
	}
}

@media (max-width: 992px) and (min-width: 768px) {
	main {
		display: flex;
	}
	.card {
		width: 49%;
	}
	.card:nth-child(odd) {
		margin-right: 2%;
	}
}

@media (max-width: 768px) {
	.card {
		width: 100%;
	}
}

header {
	padding: 60px;
	text-align: center;
	background: #13293d;
	color: #fff;
}

.card {
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	float: left;
}

.card header {
	padding: 20px;
}

.card p {
	text-align: center;
}

.card img {
	width: 100%;
}
